body {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 400;
}

header {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	background-color: #7d97ad;
	text-align: center;
}

h3 {
	text-transform: uppercase;
}

.text-thin {
	font-weight: 100;
}

.text-muted {
	color: #7d97ad;
	margin-left: 10px;
}

.big-title {
	font-size: 60px;
}

.line-thick {
	height: 4px;
	color: #7d97ad;
	background-color: #7d97ad;
}

.center-img {
	margin-top: 10px;
	margin-bottom: 10px;
}